@import url('../root.css');

.header {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1f24;
    border-bottom: 1px solid var(--border-color);
}

.back-home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 2px;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}

h2 {
    color: #fff;
}

.menu-configuracoes, .menu-descricao, .menu-horario, .menu-qrcode, .menu-creditos, .menu-escala, .theme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme {
    background-color: transparent;
    font-size: 18px;
    border: 1px solid var(--border-color);
    border-radius: 100px;
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    color: var(--text-color);
}

.menu-configuracoes div, .menu-creditos a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.menu-configuracoes div p, .menu-creditos a {
    color: var(--text-color);
}

.menu-descricao p, .menu-horario p {
    margin: 0;
    max-width: 400px;
    text-align: justify;
}

.menu-qrcode img {
    border-radius: 20px;
}
