@import url('../root.css');

.header {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1f24;
    border-bottom: 1px solid var(--border-color);
}

.back-home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 2px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}

h2 {
    color: #fff;
}

.menu-configuracoes, .menu-descricao, .menu-horario, .menu-qrcode, .menu-github, .menu-creditos, .menu-escala {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-configuracoes div, .menu-creditos a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.menu-configuracoes div p, .menu-creditos a {
    color: var(--text-color);
}

.menu-descricao p, .menu-horario p {
    margin: 0;
    max-width: 400px;
    text-align: justify;
}

.menu-qrcode img {
    border-radius: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .2s;
}

input:checked + .slider {
    background-color: var(--orange);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--orange);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}