@import url('../root.css');

.header {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1f24;
    border-bottom: 1px solid var(--border-color);
}

.back-home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 2px;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}

h2 {
    color: #fff;
}

.menu-configuracoes, .menu-descricao, .menu-horario, .menu-qrcode, .menu-creditos, .menu-tema, .menu-ultima-alteracao, .menu-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme {
    background-color: transparent;
    font-size: 18px;
    border: 1px solid var(--border-color);
    border-radius: 100px;
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    color: var(--text-color);
}

.menu-configuracoes div, .menu-creditos a  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.menu-configuracoes div p, .menu-creditos a {
    color: var(--text-color);
}

.menu-descricao p, .menu-horario p {
    margin: 0;
    max-width: 400px;
    text-align: justify;
}

.menu-qrcode img {
    border-radius: 20px;
}

/* TOGGLE */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}
  
input:checked + .slider {
    background-color: var(--orange);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--orange);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

@media (max-height: 640px) {
    div.menu-frases {
        display: none;
    }
}
