@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --blue: #4a5c6a;
    --blue-light: #9ba8ab;
    --blue-dark: #253745;
    --green: #00b809;
    --color-text: #000;
    --bg-color: #fff;
    --pg-color: #ebebeb;
    --border-color: #00000033;
}

.tema-escuro {
    --bg-color: #06141b;
    --pg-color: #11212d;
    --color-text: #fff;
    --border-color: #ffffff33;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--bg-color);
    color: var(--color-text);
    margin: 0;
    user-select: none;
}

.back-home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 32px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 15px;
    left: 2px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-configuracoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-configuracoes div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.menu-configuracoes div p {
    font-size: 18px;
    color: var(--text-color);
}

.menu-descricao {
    display: flex;
    flex-direction: column;
}

.menu-descricao p {
    max-width: 400px;
    margin: 0 20px;
    text-align: justify;
}

.menu-horario {
    display: flex;
    flex-direction: column;
}

.menu-horario p {
    margin: 0;
}

.menu-creditos a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu-qrcode {
    display: flex;
    flex-direction: column;
}

.menu-qrcode img {
    border-radius: 20px;
}

.menu-qrcode button {
    background-color: var(--blue);
    border-radius: 20px;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    width: 128px;
}

.menu-qrcode button:hover {
    background-color: var(--blue-light);
}

.menu-qrcode button:active {
    background-color: var(--blue-dark);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    display: none;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .2s;
}
  
input:checked + .slider {
    background-color: var(--blue);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.menu-creditos {
    display: flex;
    flex-direction: column;
}

.menu-creditos a {
    color: var(--text-color);
}