.menu-hoje {
    width: 560px;
    background-color: var(--pg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    color: var(--color-text);
}

.menu-hoje h3 {
    background-color: #00b809;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 8px;
}

.botao-configuracao {
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--blue);
    width: 40px;
    height: 40px;
}

.botao-configuracao:hover {
    background-color: var(--blue-hover);
}

#installBanner {
    display: none;
    background-color: var(--pg-color);
    border-bottom: 1px solid var(--border-color);
    color: var(--color-text);
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

#installButton {
    background-color: var(--green);
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px;
}

@media screen and (max-width: 615px) {
    .menu-hoje {
        width: 250px;
    }
}