@import url('../root.css');

#installButton {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid var(--border-color);
    background-color: #1a1f24;
}

.header h2 {
    color: var(--orange);
    margin: 0 0 0 5px;
    display: flex;
    align-items: center;
}

.header .container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header .container-title .load-title {
    display: none;
}

.header .container-btn {
    display: flex;
    gap: 5px;
}

.btn-atualizar {
    margin-bottom: 20px;
}

.today {
    transition: .3s;
    display: none;
}

.menu-dia {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--pg-color);
    height: 100%;
}

.menu-dia h3 {
    background-image: linear-gradient(to right, var(--orange-light) 0%, var(--orange-dark) 100%);
    padding: 6px 0;
    margin: 10px;
    font-size: 24px;
    border-radius: 8px;
    color: #fff;
}

.meal {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding: 10px;
}

.meal button {
    border: 1px solid var(--orange);
    background-color: #ff660011;
    padding: 5px 10px;
}

.meal strong {
    font-size: 18px;
    font-family: "League Spartan", sans-serif;
}

.img-merenda, .img-almoco {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff0044;
    width: 240px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.meal img {
    width: 200px;
    border-radius: 10px;
}

.fora-do-ar {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

div.botao-configuracao {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2px;
    height: 22px;
    margin-right: 5px;
}

div.botao-configuracao:hover, div.botao-configuracao:active {
    background-color: transparent;
}

.navigation {
    display: flex;
    gap: 8px;
    margin: 5px;
}

.navigation .nav-point {
    transition: .3s;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 12px;
    cursor: pointer;
}

.navigation .nav-active {
    background-color: var(--orange);
    width: 26px;
}

.container-frase {
    transition: .2s;
    opacity: 0;
    margin: 0 5px;
}

.frase {
    background-color: var(--pg-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.spinner {
    border: 3px solid #ccc;
    border-top: 3px solid var(--orange);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-height: 620px) {
    .container-frase {
        display: none;
    }
}
