/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /* Impede a seleção de texto em todo o documento */
}

/* Corpo da Página */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1f24;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Contêiner dos Dias */
.dias-wrapper {
    display: flex; /* Alinha os blocos em linha */
    gap: 20px; /* Espaçamento entre os blocos */
}

/* Blocos do Carrossel */
.dia-container {
    width: 250px; /* Aumentando a largura dos blocos */
    height: 400px; /* Altura dos blocos */
    padding: 20px;
    background-color: #33353a;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

/* Dia da Semana */
.dia-semana {
    background: linear-gradient(to right, #ff3300, #ff6600);
    padding: 20px; /* Ajustando o padding */
    border-radius:px;
    font-size: 1em; /* Diminuindo o tamanho da fonte */
    color: white;
    font-family: 'Lexend Peta', sans-serif;
    margin-bottom: 10px;
    overflow: hidden; /* Para evitar transbordamento */
    text-overflow: ellipsis; /* Adiciona '...' se o texto for muito longo */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

/* Conteúdo */
.conteudo {
    background-color: #3a3a3a;
    padding: 10px;
    border-radius: 10px;
    flex: 1; /* Usando flex: 1 para ocupar o espaço disponível */
    display: flex; /* Corrigido para 'flex' */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.9em; /* Tamanho da fonte */
    overflow: hidden; /* Para evitar transbordamento */
    text-overflow: ellipsis; /* Adiciona '...' se o texto for muito longo */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}