@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --blue: #4a5c6a;
    --blue-light: #9ba8ab;
    --blue-dark: #253745;
    --green: #00b809;
    --color-text: #000;
    --bg-color: #fff;
    --pg-color: #ebebeb;
    --border-color: #00000033;
}

.tema-escuro {
    --bg-color: #06141b;
    --pg-color: #11212d;
    --color-text: #fff;
    --border-color: #ffffff33;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--bg-color);
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}

#installBanner {
    display: none;
    background-color: var(--pg-color);
    border-bottom: 1px solid var(--border-color);
    color: var(--color-text);
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

#installButton {
    background-color: var(--green);
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-text);
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-hoje {
    width: 560px;
    background-color: var(--pg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    color: var(--color-text);
}

.menu-hoje h3 {
    background-color: var(--green);
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 8px;
}

.menu-day {
    width: 250px;
    background-color: var(--pg-color);
    border: .1rem solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    color: var(--color-text);
}

.menu-day h3 {
    background-color: var(--blue);
    color: var(--color-text);
    padding: 10px;
    margin: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.meal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 20px;
}

.meal strong {
    flex-shrink: 0;
}

.container-ultima-alteracao {
    color: var(--color-text);
}

.botao-configuracao {
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--blue);
    width: 40px;
    height: 40px;
}

.botao-configuracao:hover {
    background-color: var(--blue-light);
}

.botao-configuracao:active {
    background-color: var(--blue-dark);
}

.frase {
    color: var(--color-text);
    font-size: 18px;
}

@media screen and (max-width: 615px) {
    .menu-hoje {
        width: 250px;
    }
}
