@import url(../root.css);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 10px 0;
    background-color: #33353a;
    width: 100%;
    margin-bottom: 20px;
}

.container {
    display:  flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--pg-color);
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

.meal {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.inp {
    width: 50%;
}